<footer class="border-top">
    <div class="container">
        <div class="row justify-content-center align-content-center" style="margin-bottom:1em">
            <div class="col-md-4 col-sm-4">
                <img src="~/image/zuno_logo.png" class="mx-auto d-block" height="60" />
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="link__custom2">PLANT DELIVERY</a><br>
                <a href="#" class="link__custom2">CARE INSTRUCTIONS</a><br>
                <a href="#" class="link__custom2">FAQ</a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" class="link__custom2">CONTACT US</a><br>
                <a href="#" class="link__custom2"></a><br>
                <a href="#" class="link__custom2"></a>
            </div>
        </div>
        &copy; 2020 - Zuno - Classic
    </div>
</footer>