
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="topcontent">
    <img src="~/image/banner/banner1.png" class="img-fluid" style="margin:11px 0" />
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <img src="~/image/nothing.png" class="mx-auto d-block" height="200">
            <p class="text-black-50 text-center">
                Your search did not yield any results.
            </p>
        </div>
    </div>
</div>