
@{
    ViewData["Title"] = "TABLE TOP STANDS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="topcontent">
    <img src="~/image/banner/banner1.png" class="img-fluid" style="margin:11px 0" />
</div>
<div class="container">
    <div class="row">
        <!--menu trái-->
        <div class="col-md-2 col-sm-3 col menu_left">
            <h1 class="h1 text-center justify-content-center font-weight-bold"> </h1>
            <ul class="list-group position-fixed" id="list-product">
                <li class="list-group-item d-block"><a class="link__custom" asp-controller="Product" asp-action="Index">All</a></li>
                <li class="list-group-item d-block"><a class="link__custom">Table Top Stands</a></li>
                <li class="list-group-item d-block"><a class="link__custom" asp-controller="Product" asp-action="PlantStands">Plant Stands</a></li>
                <li class="list-group-item d-block"><a class="link__custom" asp-controller="Product" asp-action="WallPlanters">Wall Planters</a></li>
                <li class="list-group-item d-block"><a class="link__custom" asp-controller="Product" asp-action="Other">Other</a></li>
            </ul>
        </div>
        <!-- /.menu trái-->
        <!--sản phẩm-->
        <div class="col-md-10 col-sm-9 body-product">
            <div data-spy="scroll" data-target="#list-example" data-offset="1" class="scrollspy">
                <h1 class="h1 text-center justify-content-center font-weight-bold">@ViewData["Title"]</h1>
                <!--list-item-1-->
                <div id="list-item-1">
                    <div class="row">
                        <!--1-->
                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a asp-controller="Product" asp-action="ProductDetail">
                                    <img class="card-img-top img-fluid " src="~/image/product/table_top-stands/lumen.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3" asp-controller="Product" asp-action="ProductDetail">LUMEN</a>
                                    </h5>
                                    <strong class="salary">$130.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/nest.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO NEST</a>
                                    </h5>
                                    <strong class="salary">$160.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/limited_nest3.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">LIMITED EDITION ZUNO</a>
                                    </h5>
                                    <strong class="salary">$220.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/halo.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO HALO</a>
                                    </h5>
                                    <strong class="salary">$110.00</strong>
                                </div>
                            </div>
                        </div>
                        <!--/. 1-->
                        <!--2-->
                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/halo.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO HALO</a>
                                    </h5>
                                    <strong class="salary">$110.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a asp-controller="Home" asp-action="Index">
                                    <img class="card-img-top img-fluid " src="~/image/product/table_top-stands/lumen.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3" asp-controller="Home" asp-action="Index">LUMEN</a>
                                    </h5>
                                    <strong class="salary">$130.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/nest.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO NEST</a>
                                    </h5>
                                    <strong class="salary">$160.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/limited_nest3.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">LIMITED EDITION ZUNO</a>
                                    </h5>
                                    <strong class="salary">$220.00</strong>
                                </div>
                            </div>
                        </div>
                        <!--/. 2-->
                        <!--3-->
                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/limited_nest3.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">LIMITED EDITION ZUNO</a>
                                    </h5>
                                    <strong class="salary">$220.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/halo.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO HALO</a>
                                    </h5>
                                    <strong class="salary">$110.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a asp-controller="Home" asp-action="Index">
                                    <img class="card-img-top img-fluid " src="~/image/product/table_top-stands/lumen.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3" asp-controller="Home" asp-action="Index">LUMEN</a>
                                    </h5>
                                    <strong class="salary">$130.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/nest.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO NEST</a>
                                    </h5>
                                    <strong class="salary">$160.00</strong>
                                </div>
                            </div>
                        </div>
                        <!--/. 3-->
                        <!--4-->
                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/nest.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO NEST</a>
                                    </h5>
                                    <strong class="salary">$160.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/limited_nest3.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">LIMITED EDITION ZUNO</a>
                                    </h5>
                                    <strong class="salary">$220.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a>
                                    <img class="card-img-top img-fluid" src="~/image/product/table_top-stands/halo.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3">ZUNO HALO</a>
                                    </h5>
                                    <strong class="salary">$110.00</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 mb-4">
                            <div class="card h-100">
                                <a asp-controller="Home" asp-action="Index">
                                    <img class="card-img-top img-fluid " src="~/image/product/table_top-stands/lumen.png">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="link__custom3" asp-controller="Home" asp-action="Index">LUMEN</a>
                                    </h5>
                                    <strong class="salary">$130.00</strong>
                                </div>
                            </div>
                        </div>
                        <!--/. 4-->
                    </div>
                </div>
                <!-- /.list-item-1-->
            </div>
        </div>
        <!-- /.sản phẩm-->
    </div>
</div>
