@{
    ViewData["Title"] = "ABOUT";
}
<div class="topcontent">
    <img src="~/image/banner/banner1.png" class="img-fluid" style="margin:11px 0" />
</div>
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-8 col-sm-12">
            <div class="text-body1 text-justify">
                <h1 class="h1 text-center font-weight-bold">@ViewData["Title"]</h1>
                <p>
                    Welcome to the ZUNO family.
                </p>
                <p>
                    Our story began in 2020 in a small studio in the middle of nowhere. With only one desk and next to no free time, our brand was born. Our passion for unique design and collaboration brought our vision, and products, to life.
                </p>

                <img src="~/image/banner/banner2_2160px.png" class="img-fluid mx-auto d-block" style="padding-bottom:1em;" />

                <p>
                    Our products bring together the finest materials and stunning design to create something very special. We believe in quality, care, and creating unique products that everyone can enjoy. Colorful, creative, and inspired by what we see everyday, each product represents what we love about the world we live in. We hope they’ll inspire you too.
                </p>
                <p>
                    This is a demo store. Shoutout to the legends at <a class="link__custom" href="https://ivymuse.com.au">Ivy Muse</a> for letting us use their product shots.
                </p>

            </div>
        </div>
    </div>
</div>