
@{
    ViewData["Title"] = "CONTACT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topcontent">
    <img src="~/image/banner/banner1.png" class="img-fluid" style="margin:11px 0" />
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <div class="text-body1 text-justify">
                <img src="~/image/zuno_icon.png" class="d-block mx-auto" height="150" />
                <h1 class="h1 text-center font-weight-bold">@ViewData["Title"]</h1>
                <p>
                    This is a demo store. Check out these real products at the awesome <a class="link__custom" href="https://ivymuse.com.au">Ivy Muse</a>.
                </p>
                <p>
                    Phone number: 0123.456.789
                </p>
                <p>
                    Address: 155 Sư Vạn Hạnh Street, Ward 13, District 10, Ho Chi Minh City
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4602324219945!2d106.66520835034113!3d10.776019492284147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edba026cb75%3A0xb2a9aab49da1c58f!2zMTU1IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1587658195244!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="d-block mx-auto"></iframe>
            </div>
        </div>
    </div>
</div>
